:root {
--blue: #0d6efd;
--red: #dc3545;
--yellow: #ffc107;
--green: #198754;
--black: #000;
--white: #fff;
--gray: #6c757d;
--secondary: #6c757d;
--success: #198754;
--info: #0dcaf0;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #212529;
--primary-rgb: 13, 110, 253;
--secondary-rgb: 108, 117, 125;
--success-rgb: 25, 135, 84;
--info-rgb: 13, 202, 240;
--warning-rgb: 255, 193, 7;
--danger-rgb: 220, 53, 69;
--light-rgb: 248, 249, 250;
--dark-rgb: 33, 37, 41;
--white-rgb: 255, 255, 255;
--black-rgb: 0, 0, 0;
--success-text-emphasis: #0a3622;
--danger-text-emphasis: #58151c;
--font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
--gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
--body-font-family: var(--font-sans-serif);
--body-font-size: 1rem;
--body-font-weight: 400;
--body-line-height: 1.5;
--body-color: #212529;
--body-color-rgb: 33, 37, 41;
--body-bg: #fff;
--body-bg-rgb: 255, 255, 255;
--emphasis-color: #000;
--emphasis-color-rgb: 0, 0, 0;
--secondary-color: rgba(33, 37, 41, 0.75);
--secondary-color-rgb: 33, 37, 41;
--secondary-bg: #e9ecef;
--secondary-bg-rgb: 233, 236, 239;
--tertiary-color: rgba(33, 37, 41, 0.5);
--tertiary-color-rgb: 33, 37, 41;
--tertiary-bg: #f8f9fa;
--tertiary-bg-rgb: 248, 249, 250;
--heading-color: inherit;
--link-color: #0d6efd;
--link-color-rgb: 13, 110, 253;
--link-decoration: underline;
--link-hover-color: #0a58ca;
--link-hover-color-rgb: 10, 88, 202;
--code-color: #d63384;
--highlight-bg: #fff3cd;
--border-width: 1px;
--border-style: solid;
--border-color: #dee2e6;
--border-color-translucent: rgba(0, 0, 0, 0.175);
--border-radius: 0.375rem;
--border-radius-sm: 0.25rem;
--border-radius-lg: 0.5rem;
--border-radius-xl: 1rem;
--border-radius-xxl: 2rem;
--border-radius-2xl: var(--border-radius-xxl);
--border-radius-pill: 50rem;
--box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
--box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
--box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
--box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
--focus-ring-width: 0.25rem;
--focus-ring-opacity: 0.25;
--focus-ring-color: rgba(13, 110, 253, 0.25);
--form-valid-color: #198754;
--form-valid-border-color: #198754;
--form-invalid-color: #dc3545;
--form-invalid-border-color: #dc3545;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--body-font-family);
  color: var(--body-color);
  text-rendering: optimizeLegibility;
}
#filemanagerApp {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  padding-left: calc(var(--gutter-x) * 0.5);
  padding-right: calc(var(--gutter-x) * 0.5);
}
.card-body {
  flex: 1 1 auto;
  padding: var(--card-spacer-y) var(--card-spacer-x);
  color: var(--card-color);
}
.text-center {
  text-align: center !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: var(--body-bg);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  max-width: 100%;
  height: auto;
}
.border-top {
  border-top: var(--border-width) var(--border-style)
    var(--border-color) !important;
}
.fa-5x {
  font-size: 7.5em;
}
.mb-3 {
  margin-bottom: 1rem !important;
}

.mx-6 {
  margin-right: 3.5rem !important;
  margin-left: 3.5rem !important;
}
.mt-2 {
  margin-top: 2px;
}
.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}
.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}
.text-wrap {
  white-space: normal !important;
}
.text-primary {
--text-opacity: 1;
  color: #1e91cf;
}
.fw-light {
  font-weight: 300 !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.d-flex {
  display: flex !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.me-auto {
  margin-right: auto !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.btn-close {
--btn-close-color: #000;
--btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
--btn-close-opacity: 0.5;
--btn-close-hover-opacity: 0.75;
--btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
--btn-close-focus-opacity: 1;
--btn-close-disabled-opacity: 0.25;
--btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: var(--btn-close-color);
  background: transparent var(--btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--btn-close-opacity);
}
.modal-title {
  margin-bottom: 0;
  line-height: var(--modal-title-line-height);
}
.col-sm-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.card {
--card-spacer-y: 1rem;
--card-spacer-x: 1rem;
--card-title-spacer-y: 0.5rem;
--card-title-color: ;
--card-subtitle-color: ;
--card-border-width: var(--border-width);
--card-border-color: var(--border-color-translucent);
--card-border-radius: var(--border-radius);
--card-box-shadow: ;
--card-inner-border-radius: calc(
    var(--border-radius) - (var(--border-width))
  );
--card-cap-padding-y: 0.5rem;
--card-cap-padding-x: 1rem;
--card-cap-bg: rgba(var(--body-color-rgb), 0.03);
--card-cap-color: ;
--card-height: ;
--card-color: ;
--card-bg: var(--body-bg);
--card-img-overlay-padding: 1rem;
--card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--card-height);
  color: var(--body-color);
  word-wrap: break-word;
  background-color: var(--card-bg);
  background-clip: border-box;
  border: var(--card-border-width) solid var(--card-border-color);
  border-radius: var(--card-border-radius);
}
.border-0 {
  border: 0 !important;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
--gutter-x: 1.5rem;
--gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.title-container {
    margin-right: 3.5rem !important;
    margin-left: 3.5rem !important;
}
@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
  #filemanagerApp {
    max-width: 800px;
    padding-left: 10px;
    padding-right: 25px;
  }
  .title-container {
    margin-right: -1.5rem !important;
    margin-left: -0.5rem !important;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
.row {
--gutter-x: 1.5rem;
--gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
}
@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
}
h5,
.h5{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--heading-color);
}
h5,
.h5 {
  font-size: 1.25rem;
}
.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.form-control {
  display: block;
  width: 80%;
  float: right;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--body-bg);
  background-clip: padding-box;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control[type="file"] {
  overflow: hidden;
}
.form-control[type="file"]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: var(--body-color);
  background-color: var(--body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-control::-webkit-date-and-time-value {
  min-width: 85px;
  height: 1.5em;
  margin: 0;
}
.form-control::-webkit-datetime-edit {
  display: block;
  padding: 0;
}
.form-control::-moz-placeholder {
  color: var(--secondary-color);
  opacity: 1;
}
.form-control::placeholder {
  color: var(--secondary-color);
  opacity: 1;
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: var(--secondary-bg);
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: var(--secondary-bg);
}
.footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--modal-padding) - var(--modal-footer-gap) * 0.5);
  background-color: var(--modal-footer-bg);
  border-top: var(--modal-footer-border-width) solid
    var(--modal-footer-border-color);
  border-bottom-right-radius: var(--modal-inner-border-radius);
  border-bottom-left-radius: var(--modal-inner-border-radius);
}
.pagination {
--pagination-padding-x: 0.75rem;
--pagination-padding-y: 0.375rem;
--pagination-font-size: 1rem;
--pagination-color: var(--link-color);
--pagination-bg: var(--body-bg);
--pagination-border-width: var(--border-width);
--pagination-border-color: var(--border-color);
--pagination-border-radius: var(--border-radius);
--pagination-hover-color: var(--link-hover-color);
--pagination-hover-bg: var(--tertiary-bg);
--pagination-hover-border-color: var(--border-color);
--pagination-focus-color: var(--link-hover-color);
--pagination-focus-bg: var(--secondary-bg);
--pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
--pagination-active-color: #fff;
--pagination-active-bg: #0d6efd;
--pagination-active-border-color: #0d6efd;
--pagination-disabled-color: var(--secondary-color);
--pagination-disabled-bg: var(--secondary-bg);
--pagination-disabled-border-color: var(--border-color);
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-link {
  position: relative;
  display: block;
  padding: var(--pagination-padding-y) var(--pagination-padding-x);
  font-size: var(--pagination-font-size);
  color: var(--pagination-color);
  text-decoration: none;
  background-color: var(--pagination-bg);
  border: var(--pagination-border-width) solid
    var(--pagination-border-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .page-link {
    transition: none;
  }
}
.page-link:hover {
  z-index: 2;
  color: var(--pagination-hover-color);
  background-color: var(--pagination-hover-bg);
  border-color: var(--pagination-hover-border-color);
}
.page-link:focus {
  z-index: 3;
  color: var(--pagination-focus-color);
  background-color: var(--pagination-focus-bg);
  outline: 0;
  box-shadow: var(--pagination-focus-box-shadow);
}
.page-link.active,
.active > .page-link {
  z-index: 3;
  color: var(--pagination-active-color);
  background-color: var(--pagination-active-bg);
  border-color: var(--pagination-active-border-color);
}
.page-link.disabled,
.disabled > .page-link {
  color: var(--pagination-disabled-color);
  pointer-events: none;
  background-color: var(--pagination-disabled-bg);
  border-color: var(--pagination-disabled-border-color);
}

.page-item:not(:first-child) .page-link {
  margin-left: calc(var(--border-width) * -1);
}
.page-item:first-child .page-link {
  border-top-left-radius: var(--pagination-border-radius);
  border-bottom-left-radius: var(--pagination-border-radius);
}
.page-item:last-child .page-link {
  border-top-right-radius: var(--pagination-border-radius);
  border-bottom-right-radius: var(--pagination-border-radius);
}
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
.alert {
--alert-bg: transparent;
--alert-padding-x: 1rem;
--alert-padding-y: 1rem;
--alert-margin-bottom: 1rem;
--alert-color: inherit;
--alert-border-color: transparent;
--alert-border: var(--border-width) solid var(--alert-border-color);
--alert-border-radius: var(--border-radius);
--alert-link-color: inherit;
  position: relative;
  padding: var(--alert-padding-y) var(--alert-padding-x);
  margin-bottom: var(--alert-margin-bottom);
  color: var(--alert-color);
  background-color: var(--alert-bg);
  border: var(--alert-border);
  border-radius: var(--alert-border-radius);
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
  color: var(--alert-link-color);
}

.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.alert-success {
--alert-color: var(--success-text-emphasis);
--alert-bg: var(--success-bg-subtle);
--alert-border-color: var(--success-border-subtle);
--alert-link-color: var(--success-text-emphasis);
}

.alert-danger {
--alert-color: var(--danger-text-emphasis);
--alert-bg: var(--danger-bg-subtle);
--alert-border-color: var(--danger-border-subtle);
--alert-link-color: var(--danger-text-emphasis);
}

.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-center {
  justify-content: center !important;
}
.h-100 {
  height: 100% !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.col-lg-12 {
  flex: 0 0 auto;
  width: 100%;
}
.btn {
--btn-padding-x: 0.75rem;
--btn-padding-y: 0.375rem;
--btn-font-family: ;
--btn-font-size: 1rem;
--btn-font-weight: 400;
--btn-line-height: 1.5;
--btn-color: var(--body-color);
--btn-bg: transparent;
--btn-border-width: var(--border-width);
--btn-border-color: transparent;
--btn-border-radius: var(--border-radius);
--btn-hover-border-color: transparent;
--btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
--btn-disabled-opacity: 0.65;
--btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
--btn-color: #fff;
--btn-bg: #0d6efd;
--btn-border-color: #0d6efd;
--btn-hover-color: #fff;
--btn-hover-bg: #0b5ed7;
--btn-hover-border-color: #0a58ca;
--btn-focus-shadow-rgb: 49, 132, 253;
--btn-active-color: #fff;
--btn-active-bg: #0a58ca;
--btn-active-border-color: #0a53be;
--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--btn-disabled-color: #fff;
--btn-disabled-bg: #0d6efd;
--btn-disabled-border-color: #0d6efd;
}
.btn-danger {
--btn-color: #fff;
--btn-bg: #dc3545;
--btn-border-color: #dc3545;
--btn-hover-color: #fff;
--btn-hover-bg: #bb2d3b;
--btn-hover-border-color: #b02a37;
--btn-focus-shadow-rgb: 225, 83, 97;
--btn-active-color: #fff;
--btn-active-bg: #b02a37;
--btn-active-border-color: #a52834;
--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--btn-disabled-color: #fff;
--btn-disabled-bg: #dc3545;
--btn-disabled-border-color: #dc3545;
}
.btn-light {
--btn-color: #000;
--btn-bg: #f8f9fa;
--btn-border-color: #f8f9fa;
--btn-hover-color: #000;
--btn-hover-bg: #d3d4d5;
--btn-hover-border-color: #c6c7c8;
--btn-focus-shadow-rgb: 211, 212, 213;
--btn-active-color: #000;
--btn-active-bg: #c6c7c8;
--btn-active-border-color: #babbbc;
--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--btn-disabled-color: #000;
--btn-disabled-bg: #f8f9fa;
--btn-disabled-border-color: #f8f9fa;
}
.btn-secondary {
--btn-color: #fff;
--btn-bg: #6c757d;
--btn-border-color: #6c757d;
--btn-hover-color: #fff;
--btn-hover-bg: #5c636a;
--btn-hover-border-color: #565e64;
--btn-focus-shadow-rgb: 130, 138, 145;
--btn-active-color: #fff;
--btn-active-bg: #565e64;
--btn-active-border-color: #51585e;
--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--btn-disabled-color: #fff;
--btn-disabled-bg: #6c757d;
--btn-disabled-border-color: #6c757d;
}
.btn:disabled,
.btn.disabled .btn {
  color: var(--btn-disabled-color);
  pointer-events: none;
  background-color: var(--btn-disabled-bg);
  border-color: var(--btn-disabled-border-color);
  opacity: var(--btn-disabled-opacity);
}

.d-inline-block {
  display: inline-block !important;
}
.d-none {
  display: none !important;
}
.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.m-auto {
  margin: auto !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group > .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
.input-group .btn {
  position: relative;
  z-index: 2;
}
.input-group .btn:focus {
  z-index: 5;
}
.btn-primary {
--btn-color: #fff;
--btn-bg: #0d6efd;
--btn-border-color: #0d6efd;
--btn-hover-color: #fff;
--btn-hover-bg: #0b5ed7;
--btn-hover-border-color: #0a58ca;
--btn-focus-shadow-rgb: 49, 132, 253;
--btn-active-color: #fff;
--btn-active-bg: #0a58ca;
--btn-active-border-color: #0a53be;
--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--btn-disabled-color: #fff;
--btn-disabled-bg: #0d6efd;
--btn-disabled-border-color: #0d6efd;
}
